@charset "UTF-8";
nav{border-bottom:1px solid #ccc}
nav ul,
.container{width:800px}
li{list-style-type: none;}
nav ul{display:flex;justify-content: space-around;}
.container .table{width:800px;border:1px solid #ccc}
.container .table td input[type=text],
.container .table td textarea {width:100%} 